#principal{
    width: 600px;
    padding: 20px;
    background-color: #a4a4a4;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}
#editor{
    width: 560px;
    background-color: #bdbdbd;
    padding: 15px;
    border-radius: 10px auto;
    text-align: center;
}
#contenido{
    width: 500px;
    min-height: 100px;
    padding: 10px;
    background-color: #f2f2f2;
    margin: auto;
    border: 2px solid black;
}
#botones{
    width: 540px;
    padding: 12px;
    background-color: #848484;
    margin: auto;
    border-radius: 20px;
}
.boton{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
h2{
    background-color: #585858;
    border: 3px solid white;
    color: white;
}